This Query is created by user whiteklay

In [2]:
%%hive_spark
WITH customers_cte AS (
    SELECT customer_id, 
           first_name || ' ' || last_name AS Name, 
           age, 
           gender
    FROM customers
),
accounts_cte AS (
    SELECT account_id, 
           account_type
    FROM accounts
)

SELECT customers_cte.customer_id AS Customer_ID, 
       customers_cte.Name AS Name, 
       customers_cte.age AS Age, 
       customers_cte.gender AS Gender, 
       accounts_cte.account_id AS Account_ID, 
       accounts_cte.account_type AS Account_Type
FROM customers_cte
LEFT JOIN accounts_cte ON customers_cte.customer_id = accounts_cte.customer_id;