This Query is created by user superadmin

In [2]:
%%hive_spark
WITH Customers_CTE AS(
    SELECT Customer_ID, Name, Age, Gender
    FROM customers
),
Accounts_CTE AS(
    SELECT A.Customer_ID, Account_ID, Account_Type
    FROM accounts A
    LEFT JOIN Customers_CTE C ON A.Customer_ID = C.Customer_ID
)

SELECT C.Customer_ID, C.Name, C.Age, C.Gender, A.Account_ID, A.Account_Type
FROM Customers_CTE C
LEFT JOIN Accounts_CTE A ON C.Customer_ID = A.Customer_ID;