This Query is created by user whiteklay

In [2]:
%% sql
```
Pre - Processing step
 -- 

WITH customers AS (
     SELECT *
     FROM customers
),
accounts AS (
     SELECT *
     FROM accounts
)

Business Requirement:
SELECT customers.customer_id AS Customer_ID, 
       customers.firstname AS Name, 
       customers.age AS Age, 
       customers.gender AS Gender, 
       accounts.account_id AS Account_ID, 
       accounts.account_type AS Account_Type
FROM customers
LEFT JOIN accounts ON customers.customer_id = accounts.customer_id
```