This Query is created by user whiteklay

In [2]:
%%hive_spark
WITH customers_processed as (
    SELECT customer_id, 
           CONCAT(first_name, ' ', last_name) as Name, 
           age, 
           gender
    FROM customers
),
output_table as (
    SELECT c.customer_id as Customer_ID, 
           c.Name, 
           c.age as Age, 
           c.gender as Gender, 
           a.account_id as Account_ID, 
           a.account_type as Account_Type
    FROM customers_processed c
    LEFT JOIN accounts a ON c.customer_id = a.customer_id
)
SELECT *
FROM output_table;